/* * {
    outline: 1px solid red;
} */

h1 {
    text-align: center;
    font-size: 70px;
    background-color: blue;
}

h2 {
    font-size: 35px;
    text-align: center;
    margin-top: 25px;
}

#game-container {
    width: 800px;
    height: 1000px;
    margin: 15px auto;
}

#picture {
    width: 200px;
    height: 200px;
    margin: 10px auto;
}

#underscores {
    margin: 25px auto;
    text-align: center;
    font-size: 50px;
    height: 100px;
    box-sizing: border-box;
    padding: 10px 10px;
    letter-spacing: 15px;
}

.totalGuess {
    border: 1px solid black;
    margin: 25px auto;
    text-align: center;
    font-size: 35px;
    height: 150px;
    box-sizing: border-box;
    padding: 40px 30px;
}

#guessesRemaining {
    margin-top: 15px;
}

.lettersGuessed {
    border: 1px solid black;
    margin: 35px auto;
    text-align: center;
    font-size: 35px;
    height: 250px;
    box-sizing: border-box;
    padding: 40px 30px;
}

#wrongLetters {
    margin-top: 50px;
}