/* * {
    outline: 1px solid red;
} */

body {
    background-color: black;
    color: white;
}

header {
    text-align: center;
}

h1 {
    font-size: 70px;
    background-color: #183668;
    padding: 20px 20px;
    color: white;
    text-shadow:
    -3px -3px 0 #222,
    3px -3px 0 #222,
    -3px 3px 0 #222,
    3px 3px 0 #222,
    4px 4px 0 #fff,
    5px 5px 0 #fff,
    6px 6px 0 #fff,
    7px 7px 0 #fff;
}

h2 {
    font-size: 35px;
}

button {
    background-color: #34efa1;
    margin-top: 15px;
    font-size: 20px;
    box-shadow: 3px 3px #888888;
}

button:active {
    margin-top: 16px;
    box-shadow: 2px 2px #888888;
}


#game-container {
    width: 800px;
    height: 1000px;
    margin: 15px auto;
}

#picture {
    width: 200px;
    height: 200px;
    margin: 10px auto;
}

#picture img {
    width: 200px;
    height: 200px;
}

#underscores {
    margin: 25px auto;
    text-align: center;
    font-size: 50px;
    height: 100px;
    box-sizing: border-box;
    padding: 10px 10px;
    letter-spacing: 15px;
}

.totalGuess {
    border: 1px solid white;
    margin: 25px auto;
    text-align: center;
    font-size: 35px;
    height: 150px;
    box-sizing: border-box;
    padding: 20px 20px;
}

#guessesRemaining {
    margin-top: 15px;
    color: red;
}

.lettersGuessed {
    border: 1px solid white;
    margin: 15px auto;
    text-align: center;
    font-size: 35px;
    height: 150px;
    box-sizing: border-box;
    padding: 20px 20px;
}

#wrongLetters {
    margin-top: 50px;
    color:#00FFFF;
}