* {
    outline: 1px solid red;
}

h1 {
    text-align: center;
    font-size: 70px;
    background-color: blue;
}

h2 {
    font-size: 35px;
    text-align: center;
    margin-top: 25px;
}

#game-container {
    width: 800px;
    height: 1000px;
    margin: 15px auto;
}

#picture {
    width: 200px;
    height: 200px;
    margin: 10px auto;
}

.underscores {
    margin: 25px auto;
    text-align: center;
    font-size: 25px;
    height: 150px;
    box-sizing: border-box;
    padding: 40px 30px;
    letter-spacing: 15px;
}

.totalGuess {
    margin: 25px auto;
    text-align: center;
    font-size: 25px;
    height: 150px;
    box-sizing: border-box;
    padding: 40px 30px;
}

#totalGuessed {
    margin-top: 15px;
}

.lettersGuessed {
    margin: 25px auto;
    text-align: center;
    font-size: 25px;
    height: 250px;
    box-sizing: border-box;
    padding: 40px 30px;
}

#wrongLetters {
    margin-top: 50px;
}